{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">
    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h3>Hello, my name is</h3>
           <h1 class="display-3">Chretien A Martinez</h1>
           <p class="lead pb-4">I'm a Pythonista&#128013; who loves Data Analysis, Web Scraping, Scripting, & More!</p>
           <p>This site was created using Python's Flask web application framework.</p>
           <p><a href="#" class="btn btn-primary btn-lg" role="button">Download My Resume</a></p>
        </div>
    </header>
</div>

{% endblock content %}