{% extends "layout.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h3 class="display-2 m-lg-5">Skills</h1>
    </div>
    <div class="row">
        <div class="col m-3">
            <h5 class="display-4 m-3 text-center">Python</h5>
            <dl>
                <dt><h3 class="display-5">Pandas</h3></dt>
                <dd><p class="lead">Pandas is where my heart lies. This is the first Python library that
                    lit that light of passion for programming. Data really is the heartbeat of the modern world.
                    We can learn so much from it! Taking dirty data and munging it into a beautifully comprehensible
                    dataframe feels like modern day alchemy.</p>
                </dd>

                <dt><h3 class="display-5">Requests</h3></dt>
                <dd><p class="lead">If Pandas was my first love, then the Requests module is my new flame.
                    Not only is this where I began to make useful scripts to automate the boring stuff, but it is
                    where I began to tinker with the World Wide Web as a whole.
                </p>
                </dd>

            </dl>
        </div>
    </div>
</div>




{% endblock content %}